[Unit]
Description=Prometheus exporter for the metrics available in Logstash

[Service]
ExecStart=/usr/bin/logstash-exporter
Restart=on-failure

[Install]
WantedBy=multi-user.target
